@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */
table {
    background-color: yellow;

}
body{
    padding-right: 30%;
    padding-left: 30%;
   
}
#nounLBL{
    background-color: purple;
}

#verbLBL{
    background-color: blue;
}
#adjLBL{
    background-color: green;
}
#nounTwoLBL{
    background-color: orange;
}
#placeLBL{
    background-color: pink;
}
p{
    font-size: 300%;
}