li{
    display: inline;
    padding-right: 0.25in;
    
    
}
body{
    text-align: center;
    font-size: 150%;
    background-color: pink;
}
figcaption{
    font-style: bold;
    font-size: 175%;
}
img{
    filter: grayscale(100%);
}
#large{
    filter: grayscale(0%);
}